.nav {
  display: grid;
  grid-template-columns: 50vw repeat(3, 1fr);
  height: 50px;
  z-index: 1;

  background: none;
  background-color: transparent;
  // background-color: white;
  padding: 5px 15px;

  > * {
    background-color: transparent;
    color: rgb(255, 255, 255);
    // color: black;
    // filter: invert(1);
    // the goal is to find something like Divide in photoshop
    // mix-blend-mode: difference;
    align-self: baseline;
    text-align: right;
  }

  &__logo {
    text-align: left;
    z-index: 100;
  }

  &__photography,
  &__film,
  &__about {
    display: grid;
    align-items: center;
    z-index: 100;
    &__items {
      z-index: 100;
      // justify-content: center;
      text-align: center;
      display: grid;
    }
  }
}
