.nav {
  display: grid;
  grid-template-columns: 50vw repeat(3, 1fr);
  height: 50px;
  background: none;
  background-color: transparent;
  padding: 5px 15px;

  > * {
    background-color: transparent;
    color: white;
    align-self: center;
    text-align: right;
  }

  &__logo {
    text-align: left;
  }
}
