.nav {
  font-size: 1.4rem;
  font-weight: 400;
}

.sectionTitle {
  font-size: 1.4rem;
  position: absolute;
  bottom: 0%;
  right: 1%;
  left: 1%;
  text-align: right;
  color: rgb(201, 201, 201);
  font-weight: 400;
  text-transform: uppercase;
  position: fixed;
}
