@import 'typography';
@import 'imageGallery';
@import 'navBar';

$color-primary: #f3a200;

.centered {
  margin: auto;
  min-height: 90vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

.container {
  background-image: url('./../public/temp-01.gif');
  height: 80vh;
  transform: translateY(-50px);
  z-index: -100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  transform: scale(1.5);
}

.photo__display {
  display: flex;
  position: absolute;
  max-width: 500px;
  top: 50%;
}

@keyframes comeIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.xmasonry .xblock {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
}

.card {
  margin: 2px;
}

.arrows__left {
  z-index: 100;
  opacity: 0.5;
}

.arrows__right {
  z-index: 100;
  opacity: 0.5;
  margin-left: auto;
}
.icons {
  opacity: 0.5;
}

.masons {
  margin-top: 30px;
}
