@import 'typography';
@import 'imageGallery';
@import 'navBar';

$color-primary: #f3a200;

.container {
  background-image: url('./../public/landing.jpg');
  height: 100vh;
  transform: translateY(-50px);
  z-index: -100;
}

.photo__display {
  display: flex;
  position: absolute;
  top: 50%;
}

@keyframes comeIn {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

.xmasonry .xblock {
  animation: comeIn ease 0.5s;
  animation-iteration-count: 1;
  transition: left 0.3s ease, top 0.3s ease;
}

.card {
  margin: 2px;
}

.photographyLanding {
}
